<div id="<%= dom_id befakepost %>">
  <p>
    <strong>Username:</strong>
    <%= befakepost.username %>
  </p>

  <p>
    <strong>Profile picture:</strong>
    <%= befakepost.profile_picture %>
  </p>

  <p>
    <strong>Front picture:</strong>
    <%= befakepost.front_picture %>
  </p>

  <p>
    <strong>Back picture:</strong>
    <%= befakepost.back_picture %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= befakepost.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= befakepost.location %>
  </p>

</div>
