<%= form_with(model: befakepost) do |form| %>
  <% if befakepost.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(befakepost.errors.count, "error") %> prohibited this befakepost from being saved:</h2>

      <ul>
        <% befakepost.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
<div class="imputs">
  <div class="d-flex flex-column flex-md-row w-100 justify-content-between" id="input-container">
    <div class="d-flex flex-column input-column">
      <div class="input">
        <%= form.label :username, "Nom d’utilisateur :", style: "display: block" %>
        <%= form.text_field :username %>
      </div>
      <div class="input">
        <%= form.label :description, "Description du post :",style: "display: block" %>
        <%= form.text_area :description %>
      </div>
      <div class="input">
        <%= form.label :location, "Lieu du post :", style: "display: block" %>
        <%= form.text_field :location %>
      </div>
    </div>

    <div class="d-flex flex-column input-column">
      <div class="input">
        <%= form.label :profile_picture, "URL de la photo de profil :", style: "display: block" %>
        <%= form.text_area :profile_picture %>
      </div>
      <div class="input">
        <%= form.label :back_picture, "URL de la photo arrière :", style: "display: block" %>
        <%= form.text_area :back_picture %>
      </div>
      <div class="input">
        <%= form.label :front_picture, "URL de la photo avant :", style: "display: block" %>
        <%= form.text_area :front_picture %>
      </div>
    </div>
  </div>

  </div>

  <div class="d-flex gap-3 submit_input">
    <%= form.submit class: "form-submit", value:"AJOUTER" %>
    <%= image_tag("submit_arrow.svg", width: "30px") %>
  </div>
  </div>

<% end %>
