<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="container text-white">
  <p class="text-center fw-bold fs-3 py-4">BeFake.</p>
  <div class="text-white">
    <p style="color: green"><%= notice %></p>

  <h1>Accède à tes posts BeFake !</h1>

  <div id="befakeposts">
    <% @befakeposts.each do |befakepost| %>
      <%= render befakepost %>
      <div class="img-container" style="width: 400px; height: 400px">
        <img src="<%= befakepost.front_picture %>" alt="photo du devant" style="width: 100%; height: 100%; object-fit: cover;">
      </div>

      <p class="text-white">
        <%= link_to "Show this befakepost", befakepost %>
      </p>
    <% end %>
  </div>

  <%= link_to "New befakepost", new_befakepost_path %>
  </div>


</body>
</html>
