<div class="info">
  <div class="text">
  <p>Befake est un projet étudiant collaboratif, veuillez ne pas supprimer ou modifier les posts des autres de manière abusive svp. N'hésitez pas à créer votre post. <%= link_to "En savoir plus", demarche_path %></p>
  </div>
  <button class="close">ok</button>
</div>
<div id="wall"></div>
<script>
const wall = document.getElementById('wall');
const info = document.querySelector('.info');
// localStorage.setItem("visible", "true")
info.style.display = "none";
wall.style.display = "none";
if(localStorage.getItem("visible") !== "false"){
  info.style.display = "block"
  wall.style.display = "block"
}
const close = document.querySelector('.close');
close.addEventListener("click", ()=>
{
  info.style.display = 'none';
  wall .style.display = 'none';
  localStorage.setItem("visible", "false");
});

</script>
<div class="container d-flex justify-content-end py-4 position-absolute top-0 start-50 translate-middle-x">
<%= link_to image_tag("info.svg", class: "info-img"), demarche_path %>
</div>
<div class="container fs-5">
<p class="text-center fw-bold fs-3 py-4" id="befake">BeFake.</p>
<div class="text-white">
  <p style="color: green"><%= notice %></p>
<div class="container p-0">
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 g-3">

<% @befakeposts.each do |befakepost| %>
  <div class="col">
    <a class="card text-decoration-none test" href="<%= befakepost_path(befakepost) %>" style="overflow: hidden; background-position: center; background-size: cover;
    background: no-repeat linear-gradient( 180deg, rgba(5, 5, 5, 0.00) 70%, rgba(25, 25, 25, 0.1) 78%, rgba(37, 37, 37, 1) 100% ), 100% / 100% url('<%= befakepost.back_picture %>')
    ">
      <div class="card-body">
        <div class="d-flex flex-column justify-content-between h-100">
          <div class="sm-card" style="background-image: url('<%= befakepost.front_picture %>')"></div>
          <div class="texts d-flex g-2 flex-column">
            <span class="fw-bold text-white username"><%= befakepost.username %></span>
            <span class="date fw-bold"><%= (befakepost.created_at + 1.hour).strftime("%H:%M:%S") %></span>
          </div>
        </div>
      </div>
    </a>
  </div>
  <% end %>
</div>
</div>

</div>
</div>


<div class="new-befakepost w-100 d-flex justify-content-center align-items-center">
<%= link_to image_tag("photo.svg", alt: ""), new_befakepost_path, class: "take-photo"%>
<div class="take-photo-circle"></div>
<%
=begin%>
 <a href="<%= new_befakepost_path %>" class="notification text-white text-decoration-none"> 
<%
=end%>
<%
=begin%>
  hrefs enlevées, remplacer root_path par new_befakepost_path et <%= new_befakepost_path %>
<%
=end%>
<a href="<%= new_befakepost_path %>" class="notification text-white text-decoration-none">
<div class="d-flex" style="gap:10px">
<%= image_tag("logo.svg", width: "30px", alt: "") %>
  <div class="textes">
    <div class="d-flex justify-content-between align-items-end">
      <span class="fw-bold">⚠️C’est l’heure de BeFake.⚠️</span>
      <span class="text-secondary">maintenant</span>
    </div>
    <p class="main-text-notification">Tu as 2 min pour capturer un BeFake et voir ce que font tes amis !</p>
  </div>

</div>
</a>
</div>
<script>
  window.addEventListener('load', () => {
      const notification = document.querySelector('.notification');
      const newBefakepost = document.querySelector('.new-befakepost');
      setTimeout(() => {
        notification.style.transform = 'scale(1)';
        notification.style.top = "-30px";
      }, 2000);
      //animation bouton photo
      const takePhoto = document.querySelector(".take-photo");
      const takePhotoCircle = document.querySelector(".take-photo-circle");
      takePhoto.addEventListener("mouseover", ()=>{
        if (takePhotoCircle.style.height === "0px") {
          takePhotoCircle.style.height = "50px";
          takePhotoCircle.style.width = "50px";
        } else {
          takePhotoCircle.style.height = "0px";
          takePhotoCircle.style.width = "0px";
        }
      });
      notification.onclick = () => {
          newBefakepost.style.display = 'none';
      }
    });
</script>
