<div class="container fs-5">
<p class="text-center fw-bold fs-3 py-4">BeFake.</p>
<div class="text-white">
  <p style="color: green"><%= notice %></p>
<div class="container p-0">
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 g-3">

<% @befakeposts.each do |befakepost| %>
  <div class="col">
    <a class="card text-decoration-none " href="<%= new_befakepost_path %>" style="overflow: hidden; background-repeat: no-repeat; background-position: center; background-size: cover;
    background: no-repeat linear-gradient( 180deg, rgba(5, 5, 5, 0.00) 70%, rgba(25, 25, 25, 0.1) 78%, rgba(37, 37, 37, 1) 100% ), 100% / 100% url('<%= befakepost.back_picture %>')
    ">
      <div class="card-body">
        <div class="d-flex flex-column justify-content-between h-100">
          <div class="sm-card" style="background-image: url('<%= befakepost.front_picture %>')"></div>
          <div class="texts d-flex g-2 flex-column">
            <span class="fw-bold text-white username"><%= befakepost.username %></span>
            <span class="date fw-bold"><%= (befakepost.created_at + 1.hour).strftime("%H:%M:%S") %></span>
          </div>
        </div>
      </div>
    </a>
  </div>
  <% end %>
</div>
</div>
<!-- Liens -->

  <%= link_to "New befakepost", new_befakepost_path %>
  </div>
</div>

<div class="new-befakepost w-100">
  <img src="app/assets/images/photo.svg" alt="capturer">
</div>
