<img class="background-image" src="<%= @befakepost.back_picture %>" alt="">
<div class="container fs-5">
    <div class="d-flex justify-content-between align-items-baseline">
      <%= link_to image_tag("arrow_left.svg", width:"40px", title:"Retour à l'accueil"), root_path %>
      <div class="d-flex flex-column">
          <p class="fw-bold fs-3 py-4"><%= @befakepost.username %></p>
          <p class="date text-center"><%= l(@befakepost.created_at, format: '%H:%M:%S') %></p>
      </div>
      <div>
         <%= link_to image_tag("pen.svg", width:"40px", title:"Modifier le BeFake"), edit_befakepost_path(@befakepost) %>

      </div>
           <!--<%= link_to "Éditer le post", edit_befakepost_path(@befakepost), class: "text-white text-decoration-none fw-bold py-4" %> -->

  </div>

    <p style="color: white"><%= notice %></p>



<div class="container show-container mx-auto p-0">
  <div class="row flex-md-row flex-column">
    <div class="col-lg-4 col-md-12 col-12 card-container">
      <div id="big-card" class="card text-decoration-none test card-show" href="<%= befakepost_path(@befakepost) %>" style="overflow: hidden; background-position: center; background-size: cover; background: no-repeat url('<%= @befakepost.back_picture %>')">
        <div class="card-body">
          <div class="d-flex flex-column justify-content-between h-100">
            <div id="small-card" class="sm-card cur" style="background-image: url('<%= @befakepost.front_picture %>')"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-12 texts">
      <p class="text-center description"><%= @befakepost.description %></p>
      <div class="location">
        <%= image_tag("location.svg", height: "24px", style: "padding-top: 9px") %>
        <p class="fw-bold m-0"><%= @befakepost.location %></p>
      </div>
    </div>
  </div>
</div>


</div>
<script>
window.onload = function() {
  let bigCard = document.getElementById('big-card');
  let smallCard = document.getElementById('small-card');
  let imageBigCard = bigCard.style.backgroundImage;
  let imageSmallCard = smallCard.style.backgroundImage;

  smallCard.addEventListener('click', () => {
    if (bigCard.style.backgroundImage === imageBigCard) {
      bigCard.style.backgroundImage = imageSmallCard;
      smallCard.style.backgroundImage = imageBigCard;
    } else if (bigCard.style.backgroundImage === imageSmallCard) {
      bigCard.style.backgroundImage = imageBigCard;
      smallCard.style.backgroundImage = imageSmallCard;
    }
  });
};
</script>
