<p style="color: green"><%= notice %></p>



  <body class="container fs-5">
  <p class="text-center fw-bold fs-3 py-4">username</p>
  <div class="text-white">
    <p style="color: green"><%= notice %></p>
<div class="bg-image remove-margin" 
     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            height: 100vh width: 100vh">

  <h1>Accède à tes posts BeFake !</h1>
  <div class="container p-0">
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 g-3">
    <!-- Carte 1 -->
    <div class="col">
  <a class="card text-decoration-none" href="#" style="overflow: hidden; background-repeat: no-repeat; background-position: center; background-size: cover;
  background: no-repeat linear-gradient( 180deg, rgba(5, 5, 5, 0.00) 70%, rgba(25, 25, 25, 0.1) 78%, rgba(37, 37, 37, 1) 100% ), 100% / 100% url('https://odysseum.eduscol.education.fr/sites/default/files/2024-02/MIN_Education_Nationale_et_Jeunesse_RVB.png')
  ">
    <div class="card-body">
      <div class="d-flex flex-column justify-content-between h-100">
        <div class="sm-card"></div>
        <div class="texts d-flex g-2 flex-column">
        </div>
      </div>
    </div>
  </a>
</div>

<%= render @befakepost %>
  <%= link_to "Edit this befakepost", edit_befakepost_path(@befakepost) %> |
  <%= link_to "Back to befakeposts", befakeposts_path %>
  <%= button_to "Destroy this befakepost", @befakepost, method: :delete %>
</div>
</div>