
<p style="color: green"><%= notice %></p>



  <body class="container fs-5">
    <div class="d-flex justify-content-between">
     <%= link_to image_tag("back_arrow.svg", width:"40px"), befakeposts_path %>
  <p class="text-center fw-bold fs-3 py-4"><%= @befakepost.username %></p>
 <%= link_to image_tag("options_points.svg", width:"40px"), befakeposts_path %>
      
  </div>
  <p class="date text-center"><%= l(@befakepost.created_at, format: '%H:%M:%S') %></p>
  <div class="text-white">
  
    <p style="color: green"><%= notice %></p>




  <div class="container p-0">

    <!-- Carte 1 -->
    <div class="col">
  <a class="card text-decoration-none " href="#" style="overflow: hidden; background-repeat: no-repeat; background-position: center; background-size: cover;
    background: no-repeat , 100% / 100% url('<%= @befakepost.back_picture %>')
    ">
    <div class="card-body">
      <div class="d-flex flex-column justify-content-between h-100">
        <div class="sm-card" style="background-image: url('<%= @befakepost.front_picture %>')"></div>
        <div class="texts d-flex g-2 flex-column">
        </div>
      </div>
    </div>
  </a>
</div>
<br>
<p class="text-center fs-3 py-4"><%= @befakepost.description %></p>
<button class="btn btn-secondary" ><%= @befakepost.location %></button>

  <%= link_to "Edit this befakepost", edit_befakepost_path(@befakepost) %> |
  
  <%= button_to "Destroy this befakepost", @befakepost, method: :delete %>

</div>
