<!DOCTYPE html>
<html lang="fr">
<head>
  <title>BeFake. - Votre dose quotidienne de fake</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="google-site-verification" content="yTI48ANljK70x4Id3Zaann45KAYb98zy5uqw9CButCs" />
  <%= favicon_link_tag asset_path('logo.svg') %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_importmap_tags %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Befake est un projet étudiant ouvert. Les images sont générées principalement par l'IA. N'hésitez pas à créer votre faux post.">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
<body>
  
<%= yield %>
</body>
</html>
