<!DOCTYPE html>
<html lang="fr">
<head>
  <title>BeFake. - Votre dose quotidienne de fake</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= favicon_link_tag asset_path('logo.svg') %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_importmap_tags %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
<body>
  <script>
  window.onload = function() {
    let bigCard = document.getElementById('big-card');
    let smallCard = document.getElementById('small-card');
    let imageBigCard = bigCard.style.backgroundImage;
    let imageSmallCard = smallCard.style.backgroundImage;

    smallCard.addEventListener('click', () => {
      if (bigCard.style.backgroundImage === imageBigCard) {
        bigCard.style.backgroundImage = imageSmallCard;
        smallCard.style.backgroundImage = imageBigCard;
      } else if (bigCard.style.backgroundImage === imageSmallCard) {
        bigCard.style.backgroundImage = imageBigCard;
        smallCard.style.backgroundImage = imageSmallCard;
      }
    });
  };
  </script>
<%= yield %>
</body>
</html>
